.header {
    background-color: var(--blue);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
    padding: 0 20px;
}

.header .header-heading {
    font-weight: normal;
    color: var(--white);
}


.header a {
    text-decoration: none;
}

.header .header-img {
    width: 90px;
    height: 90px;
}