.climate-conditioners {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;

}

.climate-conditioners .climate {
    border: 1px solid var(--lightgray);
    border-radius: 4px;
    overflow: hidden;
}


.climate-conditioners .climate .img-container {
    width: 100%;
    height: 60%;
}


.climate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.climate-conditioners .climate:hover {
    border-color: var(--blue);
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .stars {
    color: var(--yellow);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 10px;
} */

.info {
    padding: 10px;
}

.info .model {
    font-size: 20px;
}

.info .price {
    font-size: 30px;
    color: var(--red);
    font-weight: bold;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.btn-wrapper .btn {
    width: 250px;
    height: 40px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    transition: all 200ms linear;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper .btn:hover {
    background-color: white;
    color: var(--blue);
    border: 2px solid var(--blue);
    cursor: pointer;
}


 @media (min-width: 640px) {    
    .info .model {
        font-size: 25px;
    }
    
    .info .price {
        font-size: 35px;
    }
    
    .btn-wrapper .btn {
        width: 300px;
        height: 50px;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .climate-conditioners {
        width: 80%;
    }

}

@media (min-width: 768px) {
    .climate-conditioners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 auto;
        width: 90%;
    }

    .climate-conditioners .climate {
        height: 650px;
    }
    
    
    .climate-conditioners .climate .img-container {
        width: 100%;
        height: 50%;
    }
    
    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: 0;
    }

    .btn-wrapper .btn {
        width: 90%;
        height: 60px;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

}

@media (min-width: 1024px) {

    .climate-conditioners {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 0 auto;
    }
    .climate-conditioners .climate {
        height: 480px;
        
    }

    .climate-conditioners .climate .img-container {
        width: 100%;
        height: 50%;
    }

    .info {
        padding: 20px;
    }
    
    .info .model {
        font-size: 20px;
    }
    
    .info .price {
        font-size: 30px;
    }

    
    .btn-wrapper .btn {
        width: 250px;
        height: 35px;

    }

}

@media (min-width: 1280px) {
    .climate-conditioners .climate {
        height: 470px;
        
    }

    .climate-conditioners .climate .img-container {
        width: 100%;
        height: 50%;
    }
}

@media (min-width: 1536px) {
    .climate-conditioners {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin: 0 auto;
    }

    .climate-conditioners .climate {
        height: 500px;
        
    }
}